html,p,h1,h2,ul,li,figure{
	padding: 0;
	margin: 0;
}

body{
    background-color: #cccccc;
    background-image: linear-gradient(180deg,#dddbd1,#d2dbdc);
	font-family: 'Ubuntu', sans-serif;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
	body:before{
		content: "";
		display: block;
		width: 100%;
	    height: 127px;
		background-color: #009688;
	}

	div.app{
		width: 100%;
		max-width: 1396px;
		background-color: #fff;
		height: 855px;
		margin: 0 auto;
		position: relative;
	    top: -108px;
	}
		div.app div.row{
			display: flex;
		}
			div.app div.row .col-sm-4{
				flex: 30%;
				border-right: solid 1px #e5e5e6;
				position: relative;
				z-index: 1;
				background: #ededed;
			}
			div.app div.row .col-sm-8{
			    flex: 70%;
			}

			div.app div.row section.app_header{
				
			}
				div.app div.row section.app_header{
					background: #ededed;
					border-bottom: solid #ebebeb 1px;
				}
					div.app div.row section.app_header div.app_perfil{
						display: flex;
					}
						div.app div.row section.app_header div.app_perfil figure{
						    padding: 15px;
							margin: 0;
							flex: 60%;
						}
							div.app div.row section.app_header div.app_perfil figure img{
								width: 40px;
								height: 40px;
								border-radius: 100%;
							}
						div.app div.row section.app_header div.app_perfil nav{
							flex: 40%;
							display: flex;
							justify-content: center;
							align-items: center;
						}	
							div.app div.row section.app_header div.app_perfil nav a{
								color: #919191;
								text-decoration: none;
								display: block;
								padding: 0 8px;
							}
						div.app div.row section.app_header div.app_pesquisa{
							background-color: #f7f7f7;
							padding: 10px;
							position: relative;
						}
							div.app div.row section.app_header div.app_pesquisa  input{
								outline: none;
							}
							div.app div.row section.app_header div.app_pesquisa  input[type="text"]{
								border: none;
								background: #fff;
								width: 80%;
								margin: 0 auto;
								display: block;
								height: 32px;
								padding: 0 20px;
								border-radius: 20px;
								padding-left: 50px;
							}
							div.app div.row section.app_header div.app_pesquisa  button{
								color: #919191;
								background: transparent;
								border: none;
								position: absolute;
								top: 13px;
								left: 16px;
								outline: none;
							}
			div.app div.row section.app_contatos{

			}
				div.app div.row section.app_contatos ul{
					list-style: none;
					overflow-y: scroll;
					height: 730px;
				}
					div.app div.row section.app_contatos ul li{
						padding: 10px;
						border-bottom: solid #ebebeb 1px;
						cursor: pointer;
					}
					div.app div.row section.app_contatos ul li:hover{
						background-color: #ededed;
					}
						div.app div.row section.app_contatos ul li div.row{

						}
						div.app div.row section.app_contatos ul li div.row .col-xs-2{
							padding-right: 10px;
						    flex: 10%;
						}
						div.app div.row section.app_contatos ul li div.row .col-xs-10{
							flex: 90%;
						}
							div.app div.row section.app_contatos ul li div.row div.app_foto_contato{

							}
								div.app div.row section.app_contatos ul li div.row div.app_foto_contato figure{

								}
									div.app div.row section.app_contatos ul li div.row div.app_foto_contato figure img{
										width: 49px;
										height: 49px;
										border-radius: 100%;
									}
							div.app div.row section.app_contatos ul li div.row div.app_info_conato{

							}
								div.app div.row section.app_contatos ul li div.row div.app_info_conato h2{
									color: #000000cc;
									font-size: 18px;
									font-weight: 500;
								}
								div.app div.row section.app_contatos ul li div.row div.app_info_conato p{
									color: #000000cc;
									font-weight: 500;
									font-size: 14px;
								}
								div.app div.row section.app_contatos ul li div.row  .app_navegacao_contato{
									float: right;
									text-align: right;
								}
								div.app div.row section.app_contatos ul li div.row  .app_navegacao_contato span{
									display: block;
									text-align: right;
									font-size: 13px;
									margin-bottom: 5px;
								}
								div.app div.row section.app_contatos ul li div.row  .app_navegacao_contato span:last-child{
									background-color: #06d755;
									color: #fff;
									width: 20px;
									height: 20px;
									border-radius: 100%;
									text-align: center;
									line-height: 20px;
									font-weight: bold;
									display: inline-block;

								}
		div.app div.row section.app_chat{
			overflow: hidden;
			overflow: hidden;
			height: 856px;
		}
			div.app div.row section.app_chat header{
				background: #ededed;
				border-bottom: solid #ebebeb 1px;
				padding: 15px;
				position: relative;
				z-index: 1;
			}
				div.app div.row section.app_chat header figure{
					margin: 0;
					display: flex;
					align-items: center;
				}
					div.app div.row section.app_chat header figure img{
						width: 40px;
						height: 40px;
						border-radius: 100%;
						margin-right: 15px;
					}
				div.app div.row section.app_chat header .app_chat_nav{
					float: right;
				}
					div.app div.row section.app_chat header .app_chat_nav ul{
						list-style: none;
					}
						div.app div.row section.app_chat header .app_chat_nav ul li{
						    display: inline-block;
						}
							div.app div.row section.app_chat header .app_chat_nav ul li button{
								border: none;
								background-color: transparent;
								outline: none;
								cursor: pointer;
							}
								div.app div.row section.app_chat header .app_chat_nav ul li button svg{
				
								}
									div.app div.row section.app_chat header .app_chat_nav ul li button svg path{
										fill:#919191;
									}
				div.app div.row section.app_chat article{
					background-color: #e5ddd5;
					position: relative;
					height: 687px;
					padding-top: 10px;
					overflow-y: scroll;
					background-image: url("../img/fundo (1).png");
					padding-bottom: 30px;
				}
					
					div.app div.row section.app_chat article .app_chat_mensagem{
						width: 80%;
						max-width: 970px;
						margin:0 auto;
						position: relative;
						z-index: 1;
						margin-bottom: 5px;
					}
						div.app div.row section.app_chat article .app_chat_mensagem ul{
							list-style: none;
							padding: 0;
						}
							div.app div.row section.app_chat article .app_chat_mensagem ul li{
								padding: 6px 60px 8px 9px;
								background-color: #fff;
							    border-radius: 7.5px;
								border-top-left-radius: 7.5;
								display: inline-block;
								position: relative;
								margin-bottom: 2px;
								
							}
								div.app div.row section.app_chat article  ul li small{
									display: none;

									
								}
								div.app div.row section.app_chat article  ul li:nth-last-child(1) small{
									position: absolute;
									left: -8px;
									top: 0;
									display: block;
									
								}
									div.app div.row section.app_chat article .app_chat_mensagem ul li small svg{
										
										
									}
										div.app div.row section.app_chat article ul li small svg path{
										    fill: #fff;
											
										}
					div.app div.row section.app_chat article .app_chat_mensagem_rementente{
				
					}
						div.app div.row section.app_chat article .app_chat_mensagem_rementente ul{
							
						}
							div.app div.row section.app_chat article .app_chat_mensagem_rementente ul li{
					
							}
								div.app div.row section.app_chat article .app_chat_mensagem_rementente ul li small{
									position: absolute;
									right: -8px;
									top: 0;
								}
								div.app div.row section.app_chat article .app_chat_mensagem_rementente ul li span{
									height: 15px;
									color: #00000073;
									font-size: 11px;
									line-height: 15px;
									white-space: nowrap;
									position: absolute;
									right: 5px;
									bottom: 3px;
								}
									div.app div.row section.app_chat article .app_chat_mensagem_destinatario.app_chat_mensagem  li small{
										position: absolute;
										right: -8px;
										top: 0;
										display: none;
										
									}
				div.app div.row section.app_chat article{
				
				}
					div.app div.row section.app_chat article .app_chat_mensagem_destinatario{
				
					}
						div.app div.row section.app_chat article .app_chat_mensagem_destinatario ul{
							text-align: right;
						}
							div.app div.row section.app_chat article .app_chat_mensagem_destinatario ul li{
								background-color: #dbf6c5;
							}
								div.app div.row section.app_chat article .app_chat_mensagem_destinatario ul li span{
									height: 15px;
									color: #00000073;
									font-size: 11px;
									line-height: 15px;
									white-space: nowrap;
									position: absolute;
									right: 5px;
									bottom: 3px;
								}
				div.app div.row section.app_chat footer{
					position: absolute;
					bottom: -1px;
					background: #ededed;
					width: 100%;
					z-index: 2;
					padding: 15px;
					max-width: 946px;
				}
					div.app div.row section.app_chat footer .app_chat_submit{
						display: flex;
					}
						div.app div.row section.app_chat footer .app_chat_submit .app_chat_submit_button{
							width: 10%;
							text-align: center;
						}
							div.app div.row section.app_chat footer .app_chat_submit .app_chat_submit_button button{
								border: none;
								outline: none;
							}
							div.app div.row section.app_chat footer .app_chat_submit .app_chat_submit_button svg{
					
							}
								div.app div.row section.app_chat footer .app_chat_submit .app_chat_submit_button svg path{
								    fill: #919191;
								}
						div.app div.row section.app_chat footer .app_chat_submit .app_chat_submit_form{
						    width: 80%;
						}
							div.app div.row section.app_chat footer .app_chat_submit .app_chat_submit_form input{
								outline: none;
								border: none;
								height: 30px;
								display: block;
								width: 100%;
								border-radius: 20px;
								padding: 0 10px;
							}




::-webkit-scrollbar{
	background: #fff;	
	width: 5px;
}
::-webkit-scrollbar-button{
	display: none;
}
::-webkit-scrollbar-thumb{
	background-color: #cccccc;
	width: 10px;
}
::-webkit-scrollbar-track{

}
::-webkit-scrollbar-track-piece{

}
::-webkit-scrollbar-corner{

}
::-webkit-resizer{

}